@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #021f31;
  color: #ffffff;
  text-align: center;
  height: 100%;
}

.booking-button {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #95c1d1;
  box-shadow: 0 0 0 2px #95c1d1;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.booking-button svg {
  position: absolute;
  width: 24px;
  fill: #95c1d1;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.booking-button .arr-1 {
  right: 16px;
}

.booking-button .arr-2 {
  left: -25%;
}

.booking-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #95c1d1;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.booking-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.booking-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #0b5068;
  border-radius: 12px;
}

.booking-button:hover .arr-1 {
  right: -25%;
}

.booking-button:hover .arr-2 {
  left: 16px;
}

.booking-button:hover .text {
  transform: translateX(12px);
}

.booking-button:hover svg {
  fill: #0b5068;
}

.booking-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px 95c1d1;
}

.booking-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* header start */
header {
  height:auto;
  background: url(./photo/back.jpg)center center/cover no-repeat;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b5068;
  width: 100%;
}

#navbar img {
  width: 100px;
  margin-left: 100px;
  margin: 8px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  margin-right: 70px;
}

#navbar ul li a {
  padding: 7.5px 10px;
  color: white;
  font-weight: 600;
}

#navbar ul li a:hover {
  background-color: #56767f;
  border-radius: 100px;
}

.cont-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./photo/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cont-home .primarytext {
  color: #1d7ba5;
}

.cont-home .welcome {
  font-size: 75px;
  color: #95c1d1;
  padding-bottom: 325px;
  margin-top: 70px;
}

.cont-home h1 {
  font-size: 30px;
  margin:  20px 40px;
  color: #95c1d1;
}

.cont-home a {
  margin-bottom: 55px;
}


/* header end */
/* offres start */
#offers {
  height: 75vh;
  display: flex;
  justify-content: center;
  background-color: #021f31;
}

.offersbox {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #0b5068;
}

#offers .title {
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}

#offers .title p {
  color: #fff;
  font-weight: 500;
}

#offers .offers-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

#offers .offers-items img {
  width: 200px;
  border-radius: 14px;
}

#offers .offers-items h3 {
  font-size: 25px;
  margin: 15px 0;
}

#offers .offers-items p {
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15 px;
}

#offers .offers-items span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

#offers .offers-items img:hover,
.menu-item img:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  filter: brightness(120%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

/* offres end  */
/* DAY TIME STARAT  */
#daytime {
  background-color: #021f31;
  color: #fff;
  text-align: center;
}

#daytime .daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  text-align: center;
}

#daytime .container .daytime-items .daytime-item .ph {
  border-radius: 15px;

}

#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}

#daytime .daytime-items p {
  font-weight: 500;
  margin-bottom: 10px;
}

/* DAY TIME END  */
/* menu start */
.menu-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.menu-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category {
  background-color: #021f2f;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category:hover,
.category.active {
  background-color: #10607d;
  color: #121212;
}

/* Menu Grid */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  background-color: #03293e;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
}

.menu-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.menu-details {
  flex: 1;
}

.menu-details h3 {
  margin: 0;
  font-size: 18px;
  color: #10607d;
}

.menu-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #cccccc;
}

.menu-price {
  font-size: 18px;
  color: #10607d;
  font-weight: bold;
}


/* menu end */
/* gallery start   */
#gallery {
  padding: 10px 10px;
  background: #021f31;
}

.primary-text {
  text-align: center;
  font-size: 80px;
  color: #156583;
}

.gallery-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.gallery-item img {
  width: 50%;
  border-radius: 10px;
  margin-right: 20px;
}

.gallery-item .text {
  width: 50%;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.gallery-item.reverse {
  flex-direction: row-reverse;
}

.gallery-item.reverse img {
  margin-left: 20px;
  margin-right: 0;
}

.gallery-item h3 {
  font-size: 24px;
  color: #197da1;
  margin-bottom: 10px;
}

/* gallery end   */
/* about start */
.hero {
  background-image: url(./photo/backabout.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 10rem 2rem;
  height: 500px;
}

.hero h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
}

.who-we-are {
  padding: 4rem 2rem;
  text-align: center;
  font-size: large;
}

.who-we-are h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 2rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(91, 122, 129);
  padding: 1rem;
  width: 450px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h3 {
  margin: 1rem 0;
}

.our-story {
  background: #0b5068;
  color: white;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.story-content {
  flex: 1;
  text-align: left;
}

.story-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.story-content p {
  margin-bottom: 1rem;
}

.story-content button {
  background: #fff;
  color: #222;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.story-image {
  flex: 1;
  text-align: right;
}

.story-image img {
  width: 100%;
  border-radius: 8px;
  max-width: 500px;
}

/* about end */
/* Home contact start */

#contact {
  background: #01131d;
  padding: 2rem 0;
  align-items: center;
}


#information .data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#information .data .item {
  margin: 10px 30px;
}

#information .data h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 10px;
}

#information .data p {
  color: #ffffff;
}

#information .data p i {
  color: #0d5069;
  margin-right: 5px;
}

#information .data a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#information .data a i:hover {
  background-color: #0d5069;
  color: #383848;
}

/* Home contact end */
/* contact page start */
.headcontact {
  font-size: 30px;
  text-align: center;
  height: 450px;
}

/* Container */
#container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.contact-us .stylish {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: #5b7a81;
  margin-bottom: 15px;
}

.contact-us .highlight {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5b7a81;
  margin-bottom: 15px;
}

.contact-us p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #5b7a81;
}

.contact-info {
  background-color: #0d5069;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(226, 15, 15, 0.1);
}

.contact-info h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.info-item {
  margin-bottom: 1rem;
}

.info-item h3 {
  font-size: 1.2rem;
  color: #c4c4c4;
}

.info-item p {
  font-size: 1rem;
  color: #ffffff;
}


.map {
  margin-bottom: 2rem;
}

.map h2 {
  margin-bottom: 1rem;
}


.contact-form {
  background-color: #0d5069;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: #555;
}

/* contact page end */
/*   log in   */

.logintext {
  color: #ffffff71;
  font-size: 70px;
  padding-bottom: 15px;
}

.cont-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(./photo/back.jpg);
  background-color: #021f31;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  background-color: #ffffff71;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(91, 122, 129, 1);
  width: 450px;
  height: 400px;
  margin-bottom: 88px;
}

.login label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #5898a6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login button:hover {
  background-color: #345860;
}

/*  booking  */
.logintext {
  color: #ffffff71;
  font-size: 70px;
  padding-bottom: 15px;
}

.cont-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./photo/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.booking {
  background-color: #ffffff71;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(91, 122, 129, 1);
  width: 450px;
  height: 470px;
  margin-bottom: 20px;
}

.booking label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.booking input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking button {
  width: 100%;
  padding: 10px;
  background-color: #5898a6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.booking button:hover {
  background-color: #345860;
}

.team-section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.intro{
  margin: 30px 150px;
}

.intro h1{
  font-size: 3rem;
}

.intro p{
  font-size: larger;
}

/* Leader Section */
.leader {
  background-color: #0d5069;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leader:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.953);
}

.leader img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.leader h2 {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #fff;
}

.leader p {
  font-size: 1.5rem;
  color: #fff;
}

/* Team Members Section */
.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.team-member {
  background-color: #0b5068;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.953);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #fff;
}

.team-member p {
  font-size: .8rem;
  color: #fff;
}


/* Footer Start */
#footer {
  background-color: #0d5069;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  width: 100%;
  bottom: 0;
}

#footer a {
  color: #5898a6;
  text-decoration: none;
}

/* Footer End */

@media (max-width: 800px) {
  body,main,header{
    max-width:450px; 
  } 
  .card{
    width: 300px; 
  } 
  #navbar {
    flex-direction: column;
    width: 100%;
  }

  #navbar ul {
    margin-right: 0px;
    margin-bottom: 7px;
  }

  #navbar img {
    margin-left: 0px;
    margin: 10px;
  }

  .cont-home .welcome {
    font-size: 36px;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .cont-home {
    height:auto;
    padding-bottom: 30px;
  }

  .cont-home h1 {
    font-size: 20px;
    margin: 370px 10px 0px;
    padding-top: 0px;
  }
  .booking-button {
    margin-top: 15px;
  }

  #offers {
    height: 155vh;
  }

  .offersbox {
    height: 1410px;
  }

  #offers .offers-items {
    display: block;
    flex-direction: column;
  }

  #offers .offers-items img {
    width: 250px;
    border-radius: 14px;
    
  }

  #daytime {
    padding-top: 320px;
    height: 220vh
  }

  #daytime .container .daytime-items .daytime-item .ph {
    width: 250px;
    height: 250px;
  }

  #daytime .container .daytime-items {
    flex-direction: column;
    border-radius: 15px;

  }

  #information .data {
    gap: 0px;
    margin: 6px;
    font-size: 10px;
  }
  #information .data .item{
    width: 100px;
    display: flexbox;
  }
  .grid {
    flex-direction: column;
  }

  .menu-grid {
    display: block;
    flex-direction: column;
  }

  .menu-item {
    margin: 5px;
  }
  .menu-container{
    max-width:450px; 
  } 

  .menu-categories {
    flex-direction: row;
  }
  .category{
    margin:0px; 
  } 

  #gallery {
    flex-direction: column;
  }

  .gallery-item {
    flex-direction: column;
    display: block;
  }

  .gallery-item.reverse {
    flex-direction: column;
    display: block;

  }
  .booking,.login{
    width: 350px; 
  } 

  .gallery-item img {
    width: 100%;

  }

  .gallery-item .text {
    width: 100%;
  }
  
  .intro{
    margin: 8px 15px;
  }

  .intro img {
    width: 300px;

  }



}
